{% extends 'cosmonauts_app/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}


  <h1>Seznam kosmonautů</h1>
  <ul>
    {% for cosmonaut in cosmonauti %}
        <li>{{ cosmonaut.first_name }} {{ cosmonaut.last_name }} 
            - <a href="{% url 'edit_cosmonaut' cosmonaut.pk %}">Upravit</a> 
            - <a href="{% url 'delete_cosmonaut' cosmonaut.pk %}">Smazat</a>
        </li>
    {% empty %}
      <li>Nejsou žádní kosmonauti k zobrazení.</li>
    {% endfor %}
  </ul>

  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; první</a>
        <a href="?page={{ page_obj.previous_page_number }}">předchozí</a>
      {% endif %}

      <span class="current-page">
        Stránka {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">další</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">poslední &raquo;</a>
      {% endif %}
    </span>
  </div>
{% endblock %}

